SECRET_KEY=THIS_IS_NOT_A_GOOD_SECRET
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,.localhost,.herokuapp.com

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mail.smtp2go.com
EMAIL_PORT=2525
EMAIL_USE_TLS=True
EMAIL_HOST_USER=jasiel_serra@hotmail.com
EMAIL_HOST_PASSWORD=Q94wn45lBLRO